<div class=""><div class="aHl"></div><div id=":ky" tabindex="-1"></div><div id=":ko" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTgwNjkwMjQwNzYzMzQxNzAxMiJd; 4:WyIjbXNnLWY6MTgwNjkwMjQwNzYzMzQxNzAxMiIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLDBd"><div id=":kn" class="a3s aiL "><div class="adM">


</div><div style="width:35rem;margin-left:auto;margin-right:auto"><div class="adM">
    </div><div style="border:none;border-bottom:solid 1px #d0d0d0;text-align:center"><div class="adM">
        </div><img src="https://ci3.googleusercontent.com/meips/ADKq_NaPJl4R98THMbMrfeUWIMmNywIO9UHJqVuSq8gzlCMWv4hfMfXccjWJ3bhaa8GygDHJKQu0qK3DQLgi_aClpBRebI41hjJrXCos68mLlPNbcC3SmemBA0Rb8JwmGWutZPk=s0-d-e1-ft#https://fra1.digitaloceanspaces.com/botcommerce/static/images/logo_mini.png" style="margin-bottom:1rem;text-align:center;width:5rem;margin-left:auto;margin-right:auto" class="CToWUd" data-bit="iit">
    </div>
    <div>
    <h1>Oops, have you forgotten your password?</h1>
    <p>Don't worry, we'll help you get it back. Follow the link below and set a new password.</p>
    <br>

    <div style="text-align:center">
        <a href="{{ reset_password_url}}" style="background:#3273dc;color:#fff;text-decoration:none;margin-top:10rem;padding:0.8rem 3rem;border-radius:0.5rem;display:inline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://botcommerce.io/reset-password/0bcd97480a0d4f9a6cd50f73cb3c21f1fcae2aeb&amp;source=gmail&amp;ust=1723282966183000&amp;usg=AOvVaw3RT5rBcNhVSj3D_fj2SyQT">
        Reset your password
        </a>
        <br>
        <br>
        If the button does not work, follow this link <a href="{{ reset_password_url }}" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://botcommerce.io/reset-password/0bcd97480a0d4f9a6cd50f73cb3c21f1fcae2aeb&amp;source=gmail&amp;ust=1723282966183000&amp;usg=AOvVaw3RT5rBcNhVSj3D_fj2SyQT">https://botcommerce.io/reset-<wbr>password/<wbr>0bcd97480a0d4f9a6cd50f73cb3c21<wbr>f1fcae2aeb</a>
    </div>
</div>

    <div style="margin-top:3rem">
        <div style="color:#636363;text-align:center">
            Made by <a href="#m_175220617271284094_">Botcommerce</a> team.<br>
            All rights reserved
        </div><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
</div></div><div class="adL">
</div></div></div><div class="WhmR8e" data-hash="0"></div></div>